aniso8601==9.0.1
astroid==2.9.3
autopep8==1.6.0
cachelib==0.6.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.11
click==8.0.3
colorama==0.4.4
cryptography==36.0.1
dataclasses==0.8
flake8==4.0.1
Flask==2.0.2
Flask-Cors==3.0.10
Flask-JWT==0.3.2
Flask-JWT-Extended==4.4.2
Flask-RESTful==0.3.9
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
idna==3.3
importlib-metadata==4.2.0
isort==5.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
lazy-object-proxy==1.7.1
lxml==4.9.1
MarkupSafe==2.0.1
mccabe==0.6.1
ms-identity-web @ git+https://github.com/azure-samples/ms-identity-python-utilities@9b32cef36c6c0b73c1b3237fdd66128d89f90a62
msal==1.16.0
numpy==1.19.5
pandas==1.1.5
passlib==1.7.4
platformdirs==2.4.0
pycodestyle==2.8.0
pycparser==2.21
pyflakes==2.4.0
PyJWT==2.4.0
pylint==2.12.2
python-dateutil==2.8.2
python-docx==0.8.11
pytz==2021.3
requests==2.27.1
six==1.16.0
SQLAlchemy==1.4.31
toml==0.10.2
typed-ast==1.5.2
typing_extensions==4.0.1
urllib3==1.26.8
Werkzeug==2.0.2
wrapt==1.13.3
zipp==3.6.0
